body {
  background-color: white;
}

.form-wrapper {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.form {
  margin-left: auto;
  margin-right: auto;
  margin-top: 300px;
  position: relative;
  padding: 0;
}

button {
  background-color: #dc3545;
  border-color: #dc3545;
  color: #ffffff;
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  border-radius: 0.3rem;
  width: 300px;
}

.popover {
  box-sizing: border-box;
  width: 350px;
  border: 1px solid grey;
  position: absolute;
  right: -25px;
  color: black;
  bottom: 50px;
  border-radius: 0.3rem;
  font-size: 0.825rem;
}

.hidden {
  display: none;
}

.popover-header {
  padding: 0.5rem 0.75rem;
  margin-bottom: 0;
  font-size: 1.25rem;
  background-color: #f7f7f7;
  border-bottom: 1px solid #ebebeb;
  border-top-left-radius: calc(0.3rem - 1px);
  border-top-right-radius: calc(0.3rem - 1px);
  font-weight: 400;
}

.popover-content {
  padding: .5rem 0.75rem;
  color: #212529;
}

.triangle {
  position: absolute;
  width: 0;
  height: 0;
  left: 168px;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 9px solid grey;
}

.top-triangle {
  position: absolute;
  width: 0;
  height: 0;
  left: 168px;
  top: 85px;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 9px solid white;
}